In [4]:
import pandas as pd

In [5]:
file = "Resources/purchase_data.csv"

In [138]:
df_purchase = pd.read_csv(file)
df_purchase.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [7]:
uniqueSN = df_purchase['SN'].unique()
unique_players = len(uniqueSN)

In [8]:
total_players_dict = {"Total Players": [unique_players]}
total_players_df = pd.DataFrame(total_players_dict)
total_players_df

   Total Players
0            576

In [141]:
uniqueitemID = df_purchase['Item ID'].unique()
unique_item_ID = len(uniqueitemID)
average_price = df_purchase["Price"].mean()
numberofpurchase = df_purchase['Purchase ID'].unique()
numberof_purchase = len(numberofpurchase)
total_revenue = df_purchase["Price"].sum()

In [143]:

Purchase_Analysis_dict = {"Number of Unique Items": [unique_item_ID],
                     "Average Price": [average_price],
                     "Number of Purchases":[numberof_purchase] ,
                     "Total Revenue":[total_revenue] }
number_unique_df = pd.DataFrame(number_unique_dict)
number_unique_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     183       3.050987                  780        2379.77

In [117]:
male_df = df_purchase.loc[df_purchase['Gender'] == "Male",:]
female_df = df_purchase.loc[df_purchase['Gender']== "Female",:]

others_list = []

In [118]:
for x in range(0, len(df_purchase['Gender'])):
    if(df_purchase['Gender'][x] != "Male" and df_purchase['Gender'][x] != "Female"):
        others_list.append(df_purchase['Gender'][x])

In [119]:
others_set = set(others_list)
other_df = df_purchase.loc[df_purchase['Gender'] == others_list[0],:]

In [120]:
male_players = len(male_df['SN'].unique())
female_players = len(female_df['SN'].unique())
other_players = len(other_df['SN'].unique())
player_gender_counts_list = []
gender_percentages_list = []

In [121]:
player_gender_counts_list.append(male_players)
player_gender_counts_list.append(female_players)
player_gender_counts_list.append(other_players)
for d in range(0, len(player_gender_counts_list)):
    gender_percentages_list.append(player_gender_counts_list[d]/unique_players)

In [146]:
gender_demographics_dict = {
    "Gender": ["Male", "Female", "Other / Non-Disclosed"],
    "Total Count": player_gender_counts_list,
    "Percentage": gender_percentages_list
}
gender_demographics_df = pd.DataFrame(gender_demographics_dict)
gender_demographics_df

                  Gender  Total Count  Percentage
0                   Male          484    0.840278
1                 Female           81    0.140625
2  Other / Non-Disclosed           11    0.019097

In [157]:
male_players_purchase = len(male_df['Purchase ID'].unique())
female_players_purchase = len(female_df['Purchase ID'].unique())
other_players_purchase = len(other_df['Purchase ID'].unique())
player_gender_purchase_counts_list = []

In [160]:
player_gender_purchase_counts_list.append(male_players_purchase)
player_gender_purchase_counts_list.append(female_players_purchase)
player_gender_purchase_counts_list.append(other_players_purchase)

In [166]:
purchasing_analysis_dict = {" ": ["Gender","Female","Male","Other / Non-Disclosed"],
                                  "Purchase Count": 0,
                                  "Average Purchase Price": 0,
                                  "Total Purchase Value":0,
                                  "Avg Total Purchase per Person":0}
purchasing_analysis_df = pd.DataFrame(purchasing_analysis_dict)
purchasing_analysis_df

,,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
0,Gender,0,0,0,0
1,Female,0,0,0,0
2,Male,0,0,0,0
3,Other / Non-Disclosed,0,0,0,0